<html>

<head>
    <link href="${styleResetUri}" rel="stylesheet">
    <link href="${styleVSCodeUri}" rel="stylesheet">
    <title>VSound</title>
    <style>
        body {
            background-color: #272822;
        }

        .box {
            display: flex;
        }

        .button {
            padding: 20px;
            background-color: #0181fb;
            color: white;
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="button">
            初始化
        </div>
        <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
        </select>

    </div>
</body>

</html>